/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Aug 27, 2016, 8:34:53 PM
    Author     : Admin
*/
body{
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
}
.footer{
    background: #ccc;
}

